# Q1-Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\rohit gupta\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rohit gupta\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\rohit gupta\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\rohit gupta\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rohit gupta\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\rohit gupta\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\rohit gupta\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rohit gupta\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rohit gupta\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
# Creating empty list to store data the scraped data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experince_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experince_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [9]:
print(len(job_title),len(company_name),len(experience_required),len(job_location))

10 10 10 10

In [10]:
#creating the data frame from above data
df=pd.DataFrame({'job_title':job_title,'com_name':company_name,'job_location':job_location,'exprerince_required':experience_required})
df

,job_title,com_name,job_location,exprerince_required
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
1,HCL hiring For Data Analyst,HCL Technologies,"Bangalore/Bengaluru, Pune, Chennai",3-8 Yrs
2,Programmer / Data Analyst,Frost & Sullivan,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",3-7 Yrs
3,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",0-2 Yrs
4,Customer Data Analyst,Oracle,Bangalore/Bengaluru,1-3 Yrs
5,Sr. Data Analyst,Global Indian School Education Services,"Bangalore/Bengaluru, Pune",6-11 Yrs
6,Data Analyst - Decision Science,Jana Small Finance Bank,Bangalore/Bengaluru,3-8 Yrs
7,Immediate opening For Data Analyst @ Bangalore,TeamLease,Bangalore/Bengaluru,4-6 Yrs
8,Associate Data Analyst,Optum,Bangalore/Bengaluru,2-7 Yrs
9,Associate Data Analyst,Optum,Bangalore/Bengaluru,1-4 Yrs

# Q2-Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [17]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [18]:
driver.get("https://www.naukri.com/")

In [19]:
nation=driver.find_element(By.CLASS_NAME,"suggestor-input")
nation.send_keys('Data Scientist')

In [20]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [21]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [25]:
# Creating empty list to store data the scraped data
job_title=[]
job_location=[]
company_name=[]

#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [26]:
print(len(job_title),len(company_name),len(job_location))

10 10 10

In [27]:
#creating the data frame from above data
df=pd.DataFrame({'job_title':job_title,'com_name':company_name,'job_location':job_location})
df

,job_title,com_name,job_location
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
1,Assistant Manager - Data Science,CitiusTech,"Bangalore/Bengaluru, Mumbai, Pune"
2,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
4,Data Scientist/AIML Engineer,upGrad,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
5,Data Science Consultant,ZS Associates India Pvt Ltd,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram"
6,Data Scientist,GlobalLogic,"Bangalore/Bengaluru, Noida, Nagpur"
7,Data Scientist,GlobalLogic,Bangalore/Bengaluru
8,Data Scientist,TRH Consultancy Services,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H..."
9,Lead ML Scientist,Fractal Analytics,"Bangalore/Bengaluru, Mumbai"

# Q3-In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [28]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [29]:
driver.get("https://www.naukri.com/")

In [30]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [31]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [32]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [33]:
job_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[2]/label/p/span[1]")
job_location.click()

In [34]:
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [35]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [36]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [37]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Urgent Hiring- Expertise in Data Scientist in ...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",CLARITY CONSULTING,3-8 Yrs
7,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs

# Q4-Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [4]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
# Entering product in search bar as required
Sunglass = driver.find_element(By.CLASS_NAME,"_3704LK")
Sunglass.send_keys('Sunglasses')

time.sleep(3)
# Serching Item
search_here = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_here.click()

# Creating the empty list
Brand_Quality = []
Product_Desc = []
Price_Total = []
Discount = []
 
time.sleep(3)

#Scrapping the required details
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')      
    for i in brand_tags:
        Brand_Quality.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')     
    for i in Product_Desc_tags:
        Product_Desc.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in Price_tags:
        Price_Total.append(i.text)
        
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href')) 
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [7]:
print(len(Brand_Quality),len(Product_Desc),len(Price_Total),len(Discount))

120 120 120 120

In [8]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand_Quality[:100],'Product_Desc':Product_Desc[:100],'Price':Price_Total[:100],'Discount':Discount[:100]})
df

,Brand,Product_Desc,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹359,82% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹449,79% off
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹711,71% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹359,82% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹519,74% off
96,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹559,72% off
97,LIZA ANGEL,"Riding Glasses, UV Protection, Night Vision Sp...",₹189,62% off
98,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (55)",₹559,72% off
99,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹449,77% off

# Q5-Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [70]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [71]:
driver.get('https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART')

In [72]:
review_summary=[] 
full_review=[]          
rating=[]

In [73]:
#scrapping the required details usig the other loops
start=0
end=10
for page in range(start,end):
    
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
        
    review_summary_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_summary_tag[0:40]:
        review_summary.append(i.text)    
    
    full_review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag[0:40]:
        full_review.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [74]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [75]:
f=pd.DataFrame({'Rating':rating,'Review summary':review_summary,'Full review':full_review})
df.drop(index=df.index[100:],inplace=True) 
df

                                          Title_list Rating_list job_location
0  Acer Aspire 3 Laptop AMD 3020e Dual-Core Proce...                   24,990
1  Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...                   55,008
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...                   21,513
3  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...                   25,990
4  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...                   29,374
5  Lenovo IdeaPad Slim 5 Intel Core i5 11th Gen 1...                   33,990
6  (Renewed) Dell Latitude E5470 Intel Core i5 6t...                   44,999
7  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...                   59,990
8  HP 14s, 12th Gen Intel Core i5 16GB RAM/512GB ...
9  HP 14s, 5th Gen AMD Ryzen 3- 8GB RAM/512GB SSD...

# Q6-Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [16]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [17]:
# Entering product in search bar as required
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

time.sleep(3)
# Serching Item
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [18]:
# Creating the empty list
Brand_Sneakers = []
Product_Desc = []
Price = []
Discount = []
time.sleep(3)

#Scrapping the required details
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')      
    for i in brand_tags:
        Brand_Sneakers.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')     
    for i in Product_Desc_tags:
        Product_Desc.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in Price_tags:
        Price.append(i.text)
        
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href')) 
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [19]:
print(len(Brand_Sneakers),len(Product_Desc),len(Price),len(Discount))

120 106 120 120

In [20]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand_Sneakers[:100],'Product_Desc':Product_Desc[:100],'Price':Price[:100],'Discount':Discount[:100]})
df

,Brand,Product_Desc,Price,Discount
0,SFR,CAMP DENVER Sneakers For Men,₹653,67% off
1,CAMPUS,Sneakers For Men,"₹1,849",7% off
2,Shozie,Sneakers For Men,₹348,65% off
3,Magnolia,Sneakers For Men,₹396,60% off
4,HOTSTYLE,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹199,69% off
...,...,...,...,...
95,CAMPUS,Men Stylish Sneakers Casual Shoes Sneakers For...,"₹1,849",7% off
96,Xtoon,Sneakers For Men,₹424,71% off
97,HOCKWOOD,Combo pack of 3 casual sneaker shoes for men S...,₹799,20% off
98,BRUTON,Smash v2 Buck Sneakers For Men,₹499,85% off
99,BRUTON,Sneakers For Women,₹329,74% off

# Q7-Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [9]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [10]:
driver.get("https://www.myntra.com/shoes")

In [11]:
time.sleep(4)

#clicking on price filter
price = driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
price.click()

#clicking on black colour 
black = driver.find_element(By.XPATH,'//li[@class="colour-listItem"]/label/div')
black.click()

In [13]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []

#Scrapping the required details
start=0
end=2
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']")      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h4[1]")     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]') 
    for i in Price_tags:
        Price.append(i.text) 
        
        nxt_button=driver.find_elements(By.XPATH,'//a[@rel="next"]')

try:
    driver.get(nxt_button[1].get_attribute('href')) 
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [14]:
print(len(Brand),len(Product_Description),len(Price))

100 100 100

In [15]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100]})
df

,Brand,Product_Desc,Price
0,Red Tape\nMen Walking Shoes\nRs. 1619Rs. 5399(...,Men Walking Shoes,Rs. 1619Rs. 5399(70% OFF)
1,Roadster\nMen Solid Running Shoes\nRs. 1294Rs....,Men Solid Running Shoes,Rs. 1294Rs. 3699(65% OFF)
2,HRX by Hrithik Roshan\nMen Aqua Shoes\nRs. 779...,Men Aqua Shoes,Rs. 779Rs. 2599(70% OFF)
3,MENGLER\nMen Walking Shoes\nRs. 679Rs. 3999(83...,Men Walking Shoes,Rs. 679Rs. 3999(83% OFF)
4,Puma\nSoftride Rift Breeze\nRs. 3249Rs. 6499(5...,Softride Rift Breeze,Rs. 3249Rs. 6499(50% OFF)
...,...,...,...
95,Monrow\nWomen Sandals\nRs. 1199Rs. 2299(Rs. 11...,Women Sandals,Rs. 1199Rs. 2299(Rs. 1100 OFF)
96,Puma\nMen Cell Vive Elevate Running\nRs. 5199R...,Men Cell Vive Elevate Running,Rs. 5199Rs. 6499(20% OFF)
97,Red Tape\nMen Walking Shoes\nRs. 1559Rs. 5199(...,Men Walking Shoes,Rs. 1559Rs. 5199(70% OFF)
98,Mochi\nWomen One Toe Flats\nRs. 945Rs. 1890(50...,Women One Toe Flats,Rs. 945Rs. 1890(50% OFF)
99,PUMA Motorsport\nMen SF Kart Cat Mid III\nRs. ...,Men SF Kart Cat Mid III,Rs. 3574Rs. 6499(45% OFF)

# Q8-Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [41]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [42]:
driver.get("https://www.amazon.in/")

In [43]:
nation=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
nation.send_keys('Laptop')

In [45]:
cpu1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[11]")
cpu1.click()

In [46]:
Title=[]
Ratings=[]
Price=[]

In [47]:
title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag[0:10]:
    Title.append(i.text)

ratings_tag=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in ratings_tag[0:10]:
    Ratings.append(i.text)    

    price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    Price.append(i.text)

In [48]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [49]:
#creating the data frame from above data
df=pd.DataFrame({'Title_list':Title,'Rating_list':Ratings,'job_location':Price})
df

                                          Title_list Rating_list job_location
0  Acer Aspire 3 Laptop AMD 3020e Dual-Core Proce...                   24,990
1  Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...                   55,008
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...                   21,513
3  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...                   25,990
4  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...                   29,374
5  Lenovo IdeaPad Slim 5 Intel Core i5 11th Gen 1...                   33,990
6  (Renewed) Dell Latitude E5470 Intel Core i5 6t...                   44,999
7  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...                   59,990
8  HP 14s, 12th Gen Intel Core i5 16GB RAM/512GB ...
9  HP 14s, 5th Gen AMD Ryzen 3- 8GB RAM/512GB SSD...

# Q9-Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [76]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [77]:
driver.get("https://www.ambitionbox.com/")

In [81]:
designation = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [84]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys('Noida')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=105.0.5195.125)
Stacktrace:
Backtrace:
	Ordinal0 [0x005EDF13+2219795]
	Ordinal0 [0x00582841+1779777]
	Ordinal0 [0x00494100+803072]
	Ordinal0 [0x004BE523+976163]
	Ordinal0 [0x004BDB93+973715]
	Ordinal0 [0x004DE7FC+1107964]
	Ordinal0 [0x004B94B4+955572]
	Ordinal0 [0x004DEA14+1108500]
	Ordinal0 [0x004EF192+1175954]
	Ordinal0 [0x004DE616+1107478]
	Ordinal0 [0x004B7F89+950153]
	Ordinal0 [0x004B8F56+954198]
	GetHandleVerifier [0x008E2CB2+3040210]
	GetHandleVerifier [0x008D2BB4+2974420]
	GetHandleVerifier [0x00686A0A+565546]
	GetHandleVerifier [0x00685680+560544]
	Ordinal0 [0x00589A5C+1808988]
	Ordinal0 [0x0058E3A8+1827752]
	Ordinal0 [0x0058E495+1827989]
	Ordinal0 [0x005980A4+1867940]
	BaseThreadInitThunk [0x76AC6739+25]
	RtlGetFullPathName_UEx [0x773390AF+1215]
	RtlGetFullPathName_UEx [0x7733907D+1165]

In [85]:
job=[]

In [29]:
#scraping job title from the given page
jobs=driver.find_elements(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]')
for i in jobs[0:10]:
    jobs=i.text
    job.append(jobs)

In [30]:
data=pd.DataFrame({'data0':job})
data

                                               data0
0  Data Scientist\nIBM India Pvt. Limited\n · \n4...

# Q10-Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [60]:
driver=webdriver.Chrome(r"C:\Users\Rohit Gupta\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [62]:
driver.get("https://www.ambitionbox.com/")

In [68]:
salaries = driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]")
salaries.click()

In [69]:
data_scince = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
data_scince.send_keys("Data Scientist")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input"}
  (Session info: chrome=105.0.5195.125)
Stacktrace:
Backtrace:
	Ordinal0 [0x005EDF13+2219795]
	Ordinal0 [0x00582841+1779777]
	Ordinal0 [0x0049423D+803389]
	Ordinal0 [0x004C3025+995365]
	Ordinal0 [0x004C31EB+995819]
	Ordinal0 [0x004F0F52+1183570]
	Ordinal0 [0x004DE844+1108036]
	Ordinal0 [0x004EF192+1175954]
	Ordinal0 [0x004DE616+1107478]
	Ordinal0 [0x004B7F89+950153]
	Ordinal0 [0x004B8F56+954198]
	GetHandleVerifier [0x008E2CB2+3040210]
	GetHandleVerifier [0x008D2BB4+2974420]
	GetHandleVerifier [0x00686A0A+565546]
	GetHandleVerifier [0x00685680+560544]
	Ordinal0 [0x00589A5C+1808988]
	Ordinal0 [0x0058E3A8+1827752]
	Ordinal0 [0x0058E495+1827989]
	Ordinal0 [0x005980A4+1867940]
	BaseThreadInitThunk [0x76AC6739+25]
	RtlGetFullPathName_UEx [0x773390AF+1215]
	RtlGetFullPathName_UEx [0x7733907D+1165]

In [35]:
company_name=[]
total_salary=[]
avg_salary=[]
mini_salary=[]
max_salary=[]
experience_required=[]

In [36]:
#scraping company name from the given page
com=driver.find_elements(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]")
for i in com[0:10]:
    com=i.text
    company_name.append(com)

In [37]:
company_name

['10 results are available, use up and down arrow keys to navigate.\nSoftware Engineer\nSoftware Developer\nSystem Engineer\nSenior Software Engineer\nProcess Associate\nSales Executive\nAssociate Consultant\nSenior Associate\nAnalyst\nSoftwaretest Engineer\nSenior Analyst\nSenior Systems Engineer\nSales Officer\nProgrammer Analyst\nRelationship Manager\nCustomer Service Executiv...\nTest Engineer\nDeputy Manager\nCustomer Care Executive\nProject Engineer\nCompany Name\nAverage Salary\nGoogle\nSoftware Engineer Salary\n1-4 yrs experience (based on 58 salaries)\n₹ 35.5L\n₹ 12.7L\n₹ 97.0L\nMicrosoft Corporation\nSoftware Engineer Salary\n1-4 yrs experience (based on 344 salaries)\n₹ 23.7L\n₹ 13.0L\n₹ 50.0L\nGoldman Sachs\nSoftware Engineer Salary\n1-2 yrs experience (based on 36 salaries)\n₹ 22.9L\n₹ 12.0L\n₹ 34.0L\nArista Networks\nSoftware Engineer Salary\n1-4 yrs experience (based on 51 salaries)\n₹ 22.3L\n₹ 5.0L\n₹ 38.0L\nTekion\nSoftware Engineer Salary\n2-4 yrs experience (based on 50 salaries)\n₹ 21.9L\n₹ 11.7L\n₹ 38.0L\nAmazon\nSoftware Engineer Salary\n1-4 yrs experience (based on 141 salaries)\n₹ 21.2L\n₹ 8.7L\n₹ 45.0L\nServicenow Software Development India\nSoftware Engineer Salary\n2-4 yrs experience (based on 79 salaries)\n₹ 21.1L\n₹ 14.0L\n₹ 32.0L\nWalmart\nSoftware Engineer Salary\n1-4 yrs experience (based on 110 salaries)\n₹ 20.2L\n₹ 12.0L\n₹ 32.5L\nPayPal\nSoftware Engineer Salary\n1-2 yrs experience (based on 29 salaries)\n₹ 19.6L\n₹ 12.0L\n₹ 30.0L\nArcesium\nSoftware Engineer Salary\n1-2 yrs experience (based on 69 salaries)\n₹ 19.5L\n₹ 12.0L\n₹ 34.0L']